ACBrMonitor/Schemas/eSocial/evtAfastTemp-v_S_01_00_00.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtAfastTemp/v_S_01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtAfastTemp/v_S_01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2230 - Afastamento Temporário</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtAfastTemp">
                    <xs:annotation>
                        <xs:documentation>Evento Afastamento Temporário.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_AFASTAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EMPREGADO_DOMESTICO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTO_EXT_SEM_IMPACTO_FOPAG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTO_IMPACTO_FOPAG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXCLUI_EVENTO_AFASTAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_DOMESTICO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_REINTEGRACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_MESMO_PROCEMI</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_MESMO_VINCULO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TSV_ATIVO_NA_DTEVENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VINCULO_ATIVO_NA_DTEVENTO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador" />
                            <xs:element name="ideVinculo">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do trabalhador e do vínculo.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfTrab}, {matricula}, {codCateg}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfTrab" type="TS_cpfTrab" />
                                        <xs:element name="matricula" minOccurs="0" type="TS_codigo_esocial">
                                            <xs:annotation>
                                                <xs:documentation>Matrícula atribuída ao trabalhador pela empresa ou, no caso de servidor público, a matrícula constante no Sistema de Administração de Recursos Humanos do órgão.</xs:documentation>
                                                <xs:documentation>Validação: Deve corresponder à matrícula informada pelo empregador no evento S-2200 ou S-2300 do respectivo contrato. Não preencher no caso de Trabalhador Sem Vínculo de Emprego/Estatutário - TSVE sem informação de matrícula no evento S-2300.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="codCateg" minOccurs="0" type="TS_codCateg">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com o código da categoria do trabalhador.</xs:documentation>
                                                <xs:documentation>Informar somente no caso de TSVE sem informação de matrícula no evento S-2300.</xs:documentation>
                                                <xs:documentation>Validação: Informação obrigatória e exclusiva se não houver preenchimento de {matricula}(./matricula). Se informado, deve ser um código válido e existente na Tabela 01.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="infoAfastamento">
                                <xs:annotation>
                                    <xs:documentation>Informações do afastamento temporário.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="iniAfastamento" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações de início do afastamento.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se não for preenchido o grupo {fimAfastamento}(../fimAfastamento)); OC (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtIniAfast" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Data de início do afastamento.</xs:documentation>
                                                            <xs:documentation>Validação: Deve-se obedecer às seguintes regras:</xs:documentation>
                                                            <xs:documentation>a) Não pode ser posterior à data atual, exceto se:</xs:documentation>
                                                            <xs:documentation>a1) {codMotAfast}(./codMotAfast) = [15] (férias), situação em que pode ser até 60 dias posterior à data atual;</xs:documentation>
                                                            <xs:documentation>a2) {codMotAfast}(./codMotAfast) = [18], situação em que pode ser até 120 dias posterior à data atual;</xs:documentation>
                                                            <xs:documentation>b) É necessário que o trabalhador esteja, antes da data de início do afastamento, em atividade, ou seja, não pode existir evento de afastamento anterior a {dtIniAfast}(./dtIniAfast) sem que este tenha sido encerrado.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="codMotAfast" type="TS_codMotAfast" />
                                                    <xs:element name="infoMesmoMtv" minOccurs="0" type="TS_sim_nao">
                                                        <xs:annotation>
                                                            <xs:documentation>Informar se o afastamento decorre da mesma doença que gerou o afastamento anterior ({codMotAfast}(./codMotAfast) = [01, 03]), dentro de 60 dias.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="tpAcidTransito" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Tipo de acidente de trânsito.</xs:documentation>
                                                                <xs:documentation>Validação: Somente pode ser preenchido se {codMotAfast}(./codMotAfast) = [01, 03].</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Atropelamento</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Colisão</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Outros</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="observacao" minOccurs="0" type="TS_observacao">
                                                        <xs:annotation>
                                                            <xs:documentation>Detalhar as informações sobre o afastamento do trabalhador, de maneira a explicitar os motivos do mesmo.</xs:documentation>
                                                            <xs:documentation>Validação: O preenchimento é obrigatório se {codMotAfast}(./codMotAfast) = [21].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="perAquis" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Período aquisitivo de férias</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA:Informações referentes ao período aquisitivo de férias.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codMotAfast}(../codMotAfast) = [15] E (o código de categoria no RET for igual a [1XX, 301, 302, 303, 304, 306, 307, 309, 310, 312, 410] com {tpRegTrab} em S-2200/S-2300 = [1] OU o código de categoria no RET for igual a [401] com {tpRegTrab}(2300_infoTSVInicio_infoComplementares_infoDirigenteSindical_tpRegTrab) em S-2300 = [1] ou não informado) E {dtIniAfast}(../dtIniAfast) >= [2021-05-10]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="dtInicio" type="xs:date">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Data de início do período aquisitivo de férias.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser igual ou posterior à data de admissão.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dtFim" minOccurs="0" type="xs:date">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Data de término do período aquisitivo de férias.</xs:documentation>
                                                                        <xs:documentation>Informar o campo somente se o período aquisitivo for diferente de 1 ano.</xs:documentation>
                                                                        <xs:documentation>Validação: Se informada, deve ser uma data posterior a {dtInicio}(./dtInicio).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoCessao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações complementares - Cessão/Requisição de trabalhador.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codMotAfast}(../codMotAfast) = [14]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cnpjCess" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o CNPJ do órgão/entidade para o qual o trabalhador foi cedido/requisitado.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ diferente do CNPJ do empregador e diferente dos estabelecimentos informados através do evento S-1005.</xs:documentation>
                                                                        <xs:documentation>REGRA:REGRA_VALIDA_CNPJ</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="infOnus">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Ônus da cessão/requisição.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Ônus do cedente</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Ônus do cessionário</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Ônus do cedente e cessionário</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoMandSind" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações complementares - Afastamento para exercício de mandato sindical.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codMotAfast}(../codMotAfast) = [24]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cnpjSind" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>CNPJ do sindicato no qual o trabalhador exercerá o mandato.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ diferente do CNPJ base do empregador e diferente dos informados na Tabela de Estabelecimentos (S-1005).</xs:documentation>
                                                                        <xs:documentation>REGRA:REGRA_VALIDA_CNPJ</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="infOnusRemun">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Ônus da remuneração.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Apenas do empregador</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Apenas do sindicato</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Parte do empregador, sendo a diferença e/ou complementação salarial paga pelo sindicato</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoMandElet" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações complementares - Afastamento para exercício de mandato eletivo.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codMotAfast}(../codMotAfast) = [22] e se a natureza jurídica do declarante for igual a 1XX-X, 201-1 ou 203-8); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cnpjMandElet" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>CNPJ do órgão no qual o trabalhador exercerá o mandato eletivo.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ diferente do CNPJ base do empregador e diferente dos informados na Tabela de Estabelecimentos (S-1005).</xs:documentation>
                                                                        <xs:documentation>REGRA:REGRA_VALIDA_CNPJ</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="indRemunCargo" minOccurs="0" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Indicar se o servidor optou pela remuneração do cargo efetivo.</xs:documentation>
                                                                        <xs:documentation>Validação: Informação obrigatória e exclusiva se o código de categoria no Registro de Eventos Trabalhistas - RET for igual a [301].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoRetif" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações de retificação do afastamento</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informações de retificação do afastamento temporário.</xs:documentation>
                                                <xs:documentation>Preenchimento obrigatório caso {codMotAfast}(../iniAfastamento_codMotAfast) seja retificado de [01] para [03] ou de [03] para [01].</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC ((se {indRetif}(2230_ideEvento_indRetif) = [2]) E (o grupo {iniAfastamento}(../iniAfastamento) estiver preenchido); N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="origRetif">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Origem da retificação.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Por iniciativa do empregador</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Revisão administrativa</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Determinação judicial</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="tpProc" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Preencher com o código correspondente ao tipo de processo.</xs:documentation>
                                                                <xs:documentation>Validação: O preenchimento é obrigatório se {origRetif}(./origRetif) = [2, 3].</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Administrativo</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Judicial</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Número de Benefício - NB do INSS</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="nrProc" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Informar o número do processo administrativo/judicial ou do benefício de acordo com o tipo informado em {tpProc}(./tpProc).</xs:documentation>
                                                                <xs:documentation>Validação: O preenchimento é obrigatório se {origRetif}(./origRetif) = [2, 3]. Deve ser um número de processo/benefício válido e:</xs:documentation>
                                                                <xs:documentation>a) Se {tpProc}(./tpProc) = [1], deve possuir 17 (dezessete) ou 21 (vinte e um) algarismos;</xs:documentation>
                                                                <xs:documentation>b) Se {tpProc}(./tpProc) = [2], deve possuir 20 (vinte) algarismos;</xs:documentation>
                                                                <xs:documentation>c) Se {tpProc}(./tpProc) = [3], deve possuir 10 (dez) algarismos.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="\d{10}|\d{17}|\d{20}|\d{21}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fimAfastamento" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informação do término do afastamento.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se não for preenchido o grupo {iniAfastamento}(../iniAfastamento)); OC (nos demais casos)</xs:documentation>
                                                <xs:documentation>REGRA:REGRA_EXISTE_EVENTO_AFASTAMENTO</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtTermAfast" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com a data do término do afastamento do trabalhador.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser igual ou posterior à data de início do afastamento do trabalhador.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>