ACBrMonitor/Schemas/eSocial/evtAdmissao-v02_04_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtAdmissao/v02_04_02" targetNamespace="http://www.esocial.gov.br/schema/evt/evtAdmissao/v02_04_02" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtAdmissao">
          <xs:annotation>
            <xs:documentation>Evento Cadastramento Inicial do Vínculo e Admissão / Ingresso de Trabalhador</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="trabalhador">
                <xs:annotation>
                  <xs:documentation>Informações Pessoais do Trabalhador</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cpfTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>CPF do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="11"/>
                          <xs:pattern value="\d{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nisTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>NIS</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="11"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nmTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Nome do Trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="2"/>
                          <xs:maxLength value="70"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="sexo">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Sexo</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="1"/>
                          <xs:pattern value="[F|M]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="racaCor">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Raça e cor</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                          <xs:pattern value="\d"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="estCiv" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Estado civil do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                          <xs:pattern value="\d"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="grauInstr">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Grau de instrução do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{2}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indPriEmpr" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Primeiro Emprego</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[N|S]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nmSoc" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Nome Social</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="2"/>
                          <xs:maxLength value="70"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nascimento">
                      <xs:annotation>
                        <xs:documentation>Grupo de informações do nascimento do trabalhador</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtNascto">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data de Nascimento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codMunic" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código do Município</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:integer">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="uf" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Sigla da UF</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="AC"/>
                                <xs:enumeration value="AL"/>
                                <xs:enumeration value="AP"/>
                                <xs:enumeration value="AM"/>
                                <xs:enumeration value="BA"/>
                                <xs:enumeration value="CE"/>
                                <xs:enumeration value="DF"/>
                                <xs:enumeration value="ES"/>
                                <xs:enumeration value="GO"/>
                                <xs:enumeration value="MA"/>
                                <xs:enumeration value="MT"/>
                                <xs:enumeration value="MS"/>
                                <xs:enumeration value="MG"/>
                                <xs:enumeration value="PA"/>
                                <xs:enumeration value="PB"/>
                                <xs:enumeration value="PR"/>
                                <xs:enumeration value="PE"/>
                                <xs:enumeration value="PI"/>
                                <xs:enumeration value="RJ"/>
                                <xs:enumeration value="RN"/>
                                <xs:enumeration value="RS"/>
                                <xs:enumeration value="RO"/>
                                <xs:enumeration value="RR"/>
                                <xs:enumeration value="SC"/>
                                <xs:enumeration value="SP"/>
                                <xs:enumeration value="SE"/>
                                <xs:enumeration value="TO"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="paisNascto">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>País de Nascimento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="paisNac">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nacionalidade</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nmMae" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome da mãe</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="70"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nmPai" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome do pai</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="70"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="documentos" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações dos documentos pessoais do trabalhador</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CTPS" type="TCtps" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações da Carteira de Trabalho e Previdência Social</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="RIC" type="TRic" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações do Documento Nacional de Identidade - DNI (Registro de Identificação Civil - RIC)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="RG" type="TRg" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações do Registro Geral (RG)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="RNE" type="TRne" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações do Registro Nacional de Estrangeiro</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="OC" type="TOc" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações do número de registro em Órgão de Classe (OC)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="CNH" type="TCnh" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações da Carteira Nacional de Habilitação (CNH)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="endereco">
                      <xs:annotation>
                        <xs:documentation>Grupo de informações do endereço do Trabalhador</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice>
                            <xs:element name="brasil" type="TEnderecoBrasil">
                              <xs:annotation>
                                <xs:documentation>Preenchimento obrigatório para trabalhador residente no Brasil.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="exterior" type="TEnderecoExterior">
                              <xs:annotation>
                                <xs:documentation>Preenchido em caso de trabalhador residente no exterior.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="trabEstrangeiro" type="TTrabEstrang" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Grupo de informações do Trabalhador Estrangeiro</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="infoDeficiencia" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="defFisica">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Deficiência Física</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="defVisual">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Deficiência visual</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="defAuditiva">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Deficiência auditiva</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="defMental">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Deficiência Mental</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="defIntelectual">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Deficiência Intelectual</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="reabReadap">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Reabilitado?</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="infoCota">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Informar se o trabalhador preenche cota PCD</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="observacao" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Observação</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:whiteSpace value="preserve"/>
                                <xs:minLength value="3"/>
                                <xs:maxLength value="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dependente" type="TDependente" minOccurs="0" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation>Informações dos dependentes</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="aposentadoria" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informação de aposentadoria do trabalhador</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="trabAposent">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Aposentado?</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contato" type="TContato" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações de Contato</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="vinculo">
                <xs:annotation>
                  <xs:documentation>Grupo de informações do vínculo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="matricula">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Matricula</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpRegTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Regime trabalhista
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                          <xs:pattern value="\d"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpRegPrev">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Regime previdenciário</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                          <xs:pattern value="\d"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecInfPrelim" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Recibo do evento S-2190</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="40"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="cadIni">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de cadastramento inicial</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[N|S]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoRegimeTrab">
                      <xs:annotation>
                        <xs:documentation>Informações do regime trabalhista</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice>
                            <xs:element name="infoCeletista">
                              <xs:annotation>
                                <xs:documentation>Informações de Trabalhador Celetista</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="dtAdm">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Data de admissão do trabalhador</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="tpAdmissao">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Tipo de admissão do trabalhador</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indAdmissao">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Indicativo de Admissão</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="tpRegJor">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Regime de jornada</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="natAtividade">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Natureza da atividade</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtBase" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Mês da data base da categoria profissional</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d{1,2}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="cnpjSindCategProf">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>CNPJ do sindicato representativo da categoria</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="14"/>
                                        <xs:pattern value="\d{8,14}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="FGTS" type="TFgts">
                                    <xs:annotation>
                                      <xs:documentation>Informações do Fundo de Garantia do Tempo de Serviço - FGTS</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="trabTemporario" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Dados sobre trabalho temporário. Preenchimento obrigatório na contratação de trabalhador temporário.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="hipLeg">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Motivo da contratação de temporário</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                              <xs:pattern value="\d"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="justContr">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Justificativa da hipótese legal</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="3"/>
                                              <xs:maxLength value="999"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="tpInclContr">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Tipo de inclusão de contrato</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                              <xs:pattern value="\d"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ideTomadorServ">
                                          <xs:annotation>
                                            <xs:documentation>Identifica a empresa contratante para a qual o trabalhador temporário será alocado.</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="tpInsc">
                                                <xs:simpleType>
                                                  <xs:annotation>
                                                    <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:restriction base="xs:byte">
                                                    <xs:pattern value="\d"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="nrInsc">
                                                <xs:simpleType>
                                                  <xs:annotation>
                                                    <xs:documentation>Número de Inscrição</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{8,15}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="ideEstabVinc" minOccurs="0">
                                                <xs:annotation>
                                                  <xs:documentation>Identificação do estabelecimento ao qual o trabalhador temporário está vinculado. Se o local da efetiva prestação do serviço não possuir inscrição deverá ser informado o CNPJ/CPF ao qual o local da efetiva prestação está vinculado.
O preenchimento é obrigatório se a inscrição do estabelecimento vinculado for diferente de {ideTomadorServ/nrInsc}.</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="tpInsc">
                                                      <xs:simpleType>
                                                        <xs:annotation>
                                                          <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:restriction base="xs:byte">
                                                          <xs:pattern value="\d"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="nrInsc">
                                                      <xs:simpleType>
                                                        <xs:annotation>
                                                          <xs:documentation>Número de Inscrição</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{8,15}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ideTrabSubstituido" minOccurs="0" maxOccurs="9">
                                          <xs:annotation>
                                            <xs:documentation>Identificação do(s) trabalhador(es) substituído(s)</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="cpfTrabSubst">
                                                <xs:simpleType>
                                                  <xs:annotation>
                                                    <xs:documentation>Cpf do trabalhador substituído.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:restriction base="xs:string">
                                                    <xs:length value="11"/>
                                                    <xs:pattern value="\d{11}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="aprend" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Informações para identificação do empregador contratante de aprendiz. Preenchimento obrigatório na contratação de aprendiz por entidade educativa sem fins lucrativos que tenha por objetivo a assistência ao adolescente e à educação profissional (art. 430, inciso II, CLT) ou por entidade de prática desportiva filiada ao Sistema Nacional do Desporto ou a Sistema de Desporto de Estado, do Distrito Federal ou de Município (art. 430, inciso III, CLT)</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="tpInsc">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                              <xs:pattern value="\d"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nrInsc">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Número de Inscrição</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{8,15}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="infoEstatutario">
                              <xs:annotation>
                                <xs:documentation>Informações de Trabalhador Estatutário</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="indProvim">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Indicativo de provimento</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="tpProv">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Tipo de provimento</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d{1,2}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtNomeacao">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Data da nomeação</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtPosse">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Data da posse do servidor</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtExercicio">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Data da entrada em exercício pelo servidor</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="tpPlanRP" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Tipo de plano de segregação da massa</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="infoDecJud" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Informações sobre os dados da decisão judicial</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="nrProcJud">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Nr Processo Judicial</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="3"/>
                                              <xs:maxLength value="21"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoContrato" type="TDadosContrato">
                      <xs:annotation>
                        <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="sucessaoVinc" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Grupo de informações da sucessão de vínculo trabalhista/estatutário</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjEmpregAnt">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>CNPJ do empregador anterior</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d{8,14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="matricAnt" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Matrícula no empregador anterior</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dtTransf">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data da transferência</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="observacao" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Observação</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:whiteSpace value="preserve"/>
                                <xs:minLength value="3"/>
                                <xs:maxLength value="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="transfDom" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações do empregado doméstico transferido de outro representante da mesma unidade familiar</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cpfSubstituido">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d{11}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="matricAnt" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Matrícula no empregador anterior</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dtTransf">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data da transferência</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="afastamento" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações de afastamento do trabalhador. Preenchimento exclusivo em caso de trabalhador que permaneça afastado na data de início da obrigatoriedade dos eventos não periódicos para o empregador no eSocial ou na data de transferência do empregado.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtIniAfast">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data de início do afastamento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codMotAfast">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código do motivo de afastamento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="2"/>
                                <xs:pattern value="\d{2}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="desligamento" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações do desligamento do trabalhador.
Registro preenchido exclusivamente caso seja necessário enviar cadastramento inicial referente a trabalhador que já tenha sido desligado da empresa antes do início dos eventos não periódicos para o empregador no eSocial (ex: envio para pagamento de diferenças salariais - acordo/dissídio/convenção coletiva - em meses posteriores ao desligamento e sob vigência dos eventos periódicos para o empregador no eSocial) ou no caso de desligamento em data anterior à transferência do empregado.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtDeslig">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data do Desligamento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação do evento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetif">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Recibo arquivo a ser retificado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de ambiente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCtps">
    <xs:annotation>
      <xs:documentation>Carteira de Trabalho e Previdência Social</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CTPS</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="serieCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de série da CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ufCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>UF da expedição da CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRic">
    <xs:annotation>
      <xs:documentation>Registro de Identificação Civil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRic">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>N° do DIC</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRg">
    <xs:annotation>
      <xs:documentation>Registro Geral</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>RG</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRne">
    <xs:annotation>
      <xs:documentation>Registro Nacional de Estrangeiros</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRne">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>RNE</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TOc">
    <xs:annotation>
      <xs:documentation>Órgão de Classe</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrOc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Inscr no órgão de classe</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtValid" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de validade do documento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCnh">
    <xs:annotation>
      <xs:documentation>Cartera Nacional de Habilitação</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRegCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ufCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>UF emissor CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de validade do documento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtPriHab" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da primeira habilitação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="categoriaCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Categoria da CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\w{1,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoBrasil">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Brasil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dscLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Endereçamento Postal - CEP</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codMunic">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Município</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="uf">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Sigla da UF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoExterior">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Exterior</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paisResid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do País</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dscLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nmCid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome da Cidade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codPostal" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CEP</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="4"/>
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TTrabEstrang">
    <xs:annotation>
      <xs:documentation>Informações do Trabalhador Estrangeiro</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dtChegada" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de chegada ao Brasil</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="classTrabEstrang">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Classificação da condição do estrangeiro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d{1,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="casadoBr">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Casado com brasileiro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="filhosBr">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tem filhos brasileiros?</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDependente">
    <xs:sequence>
      <xs:element name="tpDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de dependente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nmDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do Dependente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="70"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtNascto">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de Nascimento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cpfDep" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição no CPF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="depIRRF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Dependente para fins de IRRF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="depSF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Dependente SF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="incTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Incapacidade para o trabalho</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TContato">
    <xs:annotation>
      <xs:documentation>Informações de Contato</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fonePrinc" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de telefone do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="8"/>
            <xs:maxLength value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="foneAlternat" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de telefone alternativo do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="8"/>
            <xs:maxLength value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailPrinc" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Endereço eletrônico.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailAlternat" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Endereço eletrônico alternativo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TFgts">
    <xs:annotation>
      <xs:documentation>Informações do FGTS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="opcFGTS">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Opção pelo FGTS</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtOpcFGTS" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de Opção pelo FGTS</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosContrato">
    <xs:annotation>
      <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codCargo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Cargo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codFuncao" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Função</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCateg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Categoria</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
            <xs:pattern value="\d{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCarreira" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Carreira</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\w{1,30}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtIngrCarr" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de ingresso na carreira</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="remuneracao" type="TRemun">
        <xs:annotation>
          <xs:documentation>Informações da remuneração e periodicidade de pagamento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duracao">
        <xs:annotation>
          <xs:documentation>Duração do Contrato de Trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpContr">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de contrato</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                  <xs:pattern value="\d"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtTerm" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data do Término</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="clauAssec" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Indicativo de cláusula assecuratória</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[N|S]"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="localTrabalho">
        <xs:annotation>
          <xs:documentation>Informações do local de trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="localTrabGeral" type="TLocalTrab" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Estabelecimento (CNPJ, CNO, CAEPF) onde o trabalhador (exceto doméstico e temporário) exercerá suas atividades. Caso o trabalhador exerça suas atividades em instalações de terceiros, este campo deve ser preenchido com o estabelecimento do próprio empregador ao qual o trabalhador esteja vinculado.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="localTrabDom" type="TEnderecoBrasil" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Registro preenchido exclusivamente em caso de trabalhador doméstico e trabalhador temporário, indicando o endereço onde o trabalhador exerce suas atividades.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="horContratual" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações do Horário Contratual do Trabalhador.   O preenchimento é obrigatório se {tpRegJor} = [1].</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="qtdHrsSem" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Qtd horas semanais</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="4"/>
                  <xs:fractionDigits value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="tpJornada">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo da Jornada</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                  <xs:pattern value="\d"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dscTpJorn" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Descrição do tipo de jornada.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="preserve"/>
                  <xs:minLength value="3"/>
                  <xs:maxLength value="100"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="tmpParc">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Contrato de trabalho em regime de tempo parcial.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                  <xs:pattern value="\d"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="horario" type="THorario" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation>Informações diárias do horário contratual</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="filiacaoSindical" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Filiação Sindical do Trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjSindTrab">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ do Sindicato</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="14"/>
                  <xs:pattern value="\d{8,14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="alvaraJudicial" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações do alvará judicial em caso de contratação de menores de 14 anos, em qualquer categoria, e de maiores de 14 e menores de 16, em categoria diferente de "Aprendiz".</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nrProcJud">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nr Processo Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                  <xs:maxLength value="21"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="observacoes" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Observações do contrato de trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="observacao">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Observação</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="preserve"/>
                  <xs:minLength value="3"/>
                  <xs:maxLength value="255"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemun">
    <xs:annotation>
      <xs:documentation>Remuneração e periodicidade de pagamento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vrSalFx">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Salário base do trabalhador, correspondente à parte fixa da remuneração.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="undSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Unid Sal Fixo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dscSalVar" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do salário variável</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TLocalTrab">
    <xs:annotation>
      <xs:documentation>Informações do Local de Trabalho</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descComp" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição complementar</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="THorario">
    <xs:annotation>
      <xs:documentation>Informações de Horário Contratual</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dia">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indica o dia do horário</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codHorContrat">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Horário Contratual</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
