ACBrMonitor/Schemas/eSocial/evtAltCadastral-v02_04_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtAltCadastral/v02_04_01" targetNamespace="http://www.esocial.gov.br/schema/evt/evtAltCadastral/v02_04_01" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtAltCadastral">
          <xs:annotation>
            <xs:documentation>Evento Alteração Cadastral do Trabalhador</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideTrabalhador">
                <xs:annotation>
                  <xs:documentation>Identificação do Trabalhador</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cpfTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>CPF do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="11"/>
                          <xs:pattern value="\d{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="alteracao">
                <xs:annotation>
                  <xs:documentation>Alteração de Dados Cadastrais do Trabalhador</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dtAlteracao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data da Alteração</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dadosTrabalhador">
                      <xs:annotation>
                        <xs:documentation>Informações Pessoais do Trabalhador</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nisTrab" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>NIS</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="11"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nmTrab">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome do Trabalhador</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="70"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="sexo">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Sexo</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                                <xs:pattern value="[F|M]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="racaCor">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Raça e cor</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                                <xs:pattern value="\d"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="estCiv" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Estado civil do trabalhador</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                                <xs:pattern value="\d"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="grauInstr">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Grau de instrução do trabalhador</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d{2}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nmSoc" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome Social</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="70"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="documentos" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações dos documentos pessoais do trabalhador</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CTPS" type="TCtps" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações da Carteira de Trabalho e Previdência Social</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="RIC" type="TRic" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações do Documento Nacional de Identidade - DNI (Registro de Identificação Civil - RIC)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="RG" type="TRg" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações do Registro Geral (RG)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="RNE" type="TRne" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações do Registro Nacional de Estrangeiro</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="OC" type="TOc" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações do número de registro em Órgão de Classe (OC)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CNH" type="TCnh" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações da Carteira Nacional de Habilitação (CNH)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="endereco">
                            <xs:annotation>
                              <xs:documentation>Grupo de informações do endereço do Trabalhador</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element name="brasil" type="TEnderecoBrasil">
                                    <xs:annotation>
                                      <xs:documentation>Preenchimento obrigatório para trabalhador residente no Brasil.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="exterior" type="TEnderecoExterior">
                                    <xs:annotation>
                                      <xs:documentation>Preenchido em caso de trabalhador residente no exterior.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="trabEstrangeiro" type="TTrabEstrang" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Grupo de informações do Trabalhador Estrangeiro</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="infoDeficiencia" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="defFisica">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Deficiência Física</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="defVisual">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Deficiência visual</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="defAuditiva">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Deficiência auditiva</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="defMental">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Deficiência Mental</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="defIntelectual">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Deficiência Intelectual</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="reabReadap">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Reabilitado?</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoCota" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Informar se o trabalhador preenche cota PCD</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="observacao" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Observação</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:whiteSpace value="preserve"/>
                                      <xs:minLength value="3"/>
                                      <xs:maxLength value="255"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="dependente" type="TDependente" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Informações dos dependentes</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="aposentadoria" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informação de aposentadoria do trabalhador</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="trabAposent">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Aposentado?</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                      <xs:pattern value="[N|S]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="contato" type="TContato" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações de Contato</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação do evento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetif">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Recibo arquivo a ser retificado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de ambiente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCtps">
    <xs:annotation>
      <xs:documentation>Carteira de Trabalho e Previdência Social</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CTPS</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="serieCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de série da CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ufCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>UF da expedição da CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRic">
    <xs:annotation>
      <xs:documentation>Registro de Identificação Civil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRic">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>N° do DIC</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRg">
    <xs:annotation>
      <xs:documentation>Registro Geral</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>RG</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRne">
    <xs:annotation>
      <xs:documentation>Registro Nacional de Estrangeiros</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRne">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>RNE</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TOc">
    <xs:annotation>
      <xs:documentation>Órgão de Classe</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrOc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Inscr no órgão de classe</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão e UF de emissão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtValid" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de validade do documento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCnh">
    <xs:annotation>
      <xs:documentation>Cartera Nacional de Habilitação</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRegCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExped" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ufCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>UF emissor CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de validade do documento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtPriHab" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da primeira habilitação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="categoriaCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Categoria da CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\w{1,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoBrasil">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Brasil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dscLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Endereçamento Postal - CEP</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codMunic">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Município</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="uf">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Sigla da UF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoExterior">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Exterior</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paisResid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do País</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dscLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLograd">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nmCid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome da Cidade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codPostal" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CEP</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="4"/>
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TTrabEstrang">
    <xs:annotation>
      <xs:documentation>Informações do Trabalhador Estrangeiro</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dtChegada">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de chegada ao Brasil</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="classTrabEstrang">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Classificação da condição do estrangeiro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d{1,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="casadoBr">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Casado com brasileiro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="filhosBr">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tem filhos brasileiros?</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDependente">
    <xs:sequence>
      <xs:element name="tpDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de dependente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nmDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do Dependente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="70"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtNascto">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de Nascimento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cpfDep" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição no CPF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="depIRRF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Dependente para fins de IRRF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="depSF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Dependente SF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="incTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Incapacidade para o trabalho</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TContato">
    <xs:annotation>
      <xs:documentation>Informações de Contato</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fonePrinc" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de telefone do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="8"/>
            <xs:maxLength value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="foneAlternat" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de telefone alternativo do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="8"/>
            <xs:maxLength value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailPrinc" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Endereço eletrônico.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailAlternat" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Endereço eletrônico alternativo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
