ACBrMonitor/Schemas/eSocial/evtCdBenefIn-v_S_01_00_00.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtCdBenefIn/v_S_01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtCdBenefIn/v_S_01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2400 - Cadastro de Beneficiário - Entes Públicos - Início</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtCdBenefIn">
                    <xs:annotation>
                        <xs:documentation>Evento Cadastro de Beneficiário - Início</xs:documentation>
                        <xs:documentation>DESCRICAO_COMPLETA:Evento Cadastro de Beneficiário - Entes Públicos - Início.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTO_EXT_SEM_IMPACTO_FOPAG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_CNPJ</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_TRABALHADOR_BASE_CPF</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab_PJ" />
                            <xs:element name="ideEmpregador">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tpInsc" type="TS_tpInsc_1" />
                                        <xs:element name="nrInsc">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {ideEmpregador/tpInsc}(./tpInsc) e conforme informado em S-1000.</xs:documentation>
                                                    <xs:documentation>Validação: A natureza jurídica relativa ao número de inscrição informado deve ser Administração Pública (grupo [1]).</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{8}|\d{14}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="beneficiario">
                                <xs:annotation>
                                    <xs:documentation>Grupo de informações do beneficiário.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfBenef}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfBenef" type="TS_cpf">
                                            <xs:annotation>
                                                <xs:documentation>Informar o CPF do beneficiário.</xs:documentation>
                                                <xs:documentation>Validação: Não é possível existir dois eventos originais do mesmo órgão público declarante para o mesmo CPF do beneficiário.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="nmBenefic" type="TS_nmBenefic" />
                                        <xs:element name="dtNascto" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com a data de nascimento.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dtInicio" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com a data de início do cadastro do beneficiário. Informar a data de início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial caso o beneficiário possua cadastro anterior a essa data.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser igual ou posterior à data de início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial e igual ou anterior à data atual.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="sexo" minOccurs="0" type="TS_sexo">
                                            <xs:annotation>
                                                <xs:documentation>Sexo do beneficiário.</xs:documentation>
                                                <xs:documentation>Validação: Informação obrigatória se {dtInicio}(./dtInicio) for posterior ao início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="racaCor" type="TS_racaCorBenef" />
                                        <xs:element name="estCiv" minOccurs="0" type="TS_estCivilBenef" />
                                        <xs:element name="incFisMen" type="TS_incFisMen" />
                                        <xs:element name="dtIncFisMen" minOccurs="0" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com a data do reconhecimento da incapacidade.</xs:documentation>
                                                <xs:documentation>Validação: Informação obrigatória e exclusiva se {incFisMen}(./incFisMen) = [S].</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="endereco">
                                            <xs:annotation>
                                                <xs:documentation>Endereço do beneficiário.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Grupo de informações do endereço do beneficiário.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice>
                                                        <xs:element name="brasil" type="T_endereco_brasil" />
                                                        <xs:element name="exterior" type="T_endereco_exterior" />
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dependente" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Informações dos dependentes.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {tpDep}, {nmDep}, {dtNascto}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpDep" type="TS_tpDep" />
                                                    <xs:element name="nmDep" type="TS_nmDep" />
                                                    <xs:element name="dtNascto" type="TS_dtNascto" />
                                                    <xs:element name="cpfDep" minOccurs="0" type="TS_cpfDepBenef" />
                                                    <xs:element name="sexoDep" minOccurs="0" type="TS_sexo">
                                                        <xs:annotation>
                                                            <xs:documentation>Sexo do dependente.</xs:documentation>
                                                            <xs:documentation>Validação: Informação obrigatória se {dtInicio}(../dtInicio) for posterior ao início da obrigatoriedade dos eventos não periódicos para o ente público no eSocial.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="depIRRF" type="TS_depIRRF_Benef" />
                                                    <xs:element name="incFisMen" type="TS_incFisMenDep" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>