ACBrMonitor/Schemas/eSocial/evtCAT-v_S_01_00_00.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtCAT/v_S_01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtCAT/v_S_01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2210 - Comunicação de Acidente de Trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtCAT">
                    <xs:annotation>
                        <xs:documentation>Evento Comunicação de Acidente de Trabalho.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EMPREGADO_DOMESTICO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTO_EXT_SEM_IMPACTO_FOPAG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTO_POSTERIOR_CAT_OBITO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXCLUI_EVENTO_CAT</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_CAT_ORIGEM</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_REINTEGRACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_MESMO_PROCEMI</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_DT_ACIDENTE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_MESMO_VINCULO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TSV_ATIVO_NA_DTEVENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VINCULO_ATIVO_NA_DTEVENTO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador" />
                            <xs:element name="ideVinculo" type="T_ideVinculo_sst" />
                            <xs:element name="cat">
                                <xs:annotation>
                                    <xs:documentation>CAT</xs:documentation>
                                    <xs:documentation>DESCRICAO_COMPLETA:Comunicação de Acidente de Trabalho - CAT.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {dtAcid}, {hrAcid}, {tpCat}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dtAcid" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data do acidente.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser uma data válida, igual ou anterior à data atual e igual ou posterior à data de admissão do trabalhador e à data de início da obrigatoriedade deste evento para o empregador no eSocial.</xs:documentation>
                                                <xs:documentation>Se {tpCat}(./tpCat) = [2, 3], deve ser informado valor igual ao preenchido no evento de CAT anterior, quando informado em {nrRecCatOrig}(./catOrigem_nrRecCatOrig).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="tpAcid">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Tipo de acidente de trabalho.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                    <xs:enumeration value="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Típico</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="2">
                                                        <xs:annotation>
                                                            <xs:documentation>Doença</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="3">
                                                        <xs:annotation>
                                                            <xs:documentation>Trajeto</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="hrAcid" minOccurs="0" type="TS_hora">
                                            <xs:annotation>
                                                <xs:documentation>Hora do acidente, no formato HHMM.</xs:documentation>
                                                <xs:documentation>Validação: Preenchimento obrigatório e exclusivo se {tpAcid}(./tpAcid) = [1]. Se informada, deve estar no intervalo entre [0000] e [2359], criticando inclusive a segunda parte do número, que indica os minutos, que deve ser menor ou igual a 59.</xs:documentation>
                                                <xs:documentation>Se {tpCat}(./tpCat) = [2, 3], deve ser informado valor igual ao preenchido no evento de CAT anterior, quando informado em {nrRecCatOrig}(./catOrigem_nrRecCatOrig).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hrsTrabAntesAcid" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Horas trabalhadas antes da ocorrência do acidente, no formato HHMM.</xs:documentation>
                                                    <xs:documentation>Validação: Preenchimento obrigatório e exclusivo se {tpAcid}(./tpAcid) = [1]. Se informada, deve estar no intervalo entre [0000] e [9959], criticando inclusive a segunda parte do número, que indica os minutos, que deve ser menor ou igual a 59.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:integer">
                                                    <xs:pattern value="\d{4}" />
                                                    <xs:pattern value="([0-9][0-9][0-5][0-9])" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="tpCat">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Tipo de CAT.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                    <xs:enumeration value="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Inicial</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="2">
                                                        <xs:annotation>
                                                            <xs:documentation>Reabertura</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="3">
                                                        <xs:annotation>
                                                            <xs:documentation>Comunicação de óbito</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="indCatObito" type="TS_sim_nao">
                                            <xs:annotation>
                                                <xs:documentation>Houve óbito?</xs:documentation>
                                                <xs:documentation>Validação: Se o {tpCat}(./tpCat) for igual a [3], o campo deverá sempre ser preenchido com [S]. Se o {tpCat}(./tpCat) for igual a [2], o campo deverá sempre ser preenchido com [N].</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dtObito" type="xs:date" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Data do óbito.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser uma data válida, igual ou posterior a {dtAcid}(./dtAcid) e igual ou anterior à data atual.</xs:documentation>
                                                <xs:documentation>Preenchimento obrigatório e exclusivo se {indCatObito}(./indCatObito) = [S].</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="indComunPolicia" type="TS_sim_nao">
                                            <xs:annotation>
                                                <xs:documentation>Houve comunicação à autoridade policial?</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="codSitGeradora">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Preencher com o código da situação geradora do acidente ou da doença profissional.</xs:documentation>
                                                    <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 15 ou na Tabela 16.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:integer">
                                                    <xs:pattern value="\d{9}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="iniciatCAT">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Iniciativa da CAT.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                    <xs:enumeration value="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Empregador</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="2">
                                                        <xs:annotation>
                                                            <xs:documentation>Ordem judicial</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="3">
                                                        <xs:annotation>
                                                            <xs:documentation>Determinação de órgão fiscalizador</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="obsCAT" minOccurs="0" type="TS_texto_999">
                                            <xs:annotation>
                                                <xs:documentation>Observação.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="localAcidente">
                                            <xs:annotation>
                                                <xs:documentation>Local do acidente.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpLocal">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Tipo de local do acidente.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Estabelecimento do empregador no Brasil</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Estabelecimento do empregador no exterior</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Estabelecimento de terceiros onde o empregador presta serviços</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="4">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Via pública</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="5">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Área rural</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="6">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Embarcação</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="9">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Outros</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="dscLocal" minOccurs="0" type="TS_texto_255">
                                                        <xs:annotation>
                                                            <xs:documentation>Especificação do local do acidente (pátio, rampa de acesso, posto de trabalho, etc.).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="tpLograd" minOccurs="0" type="TS_tpLograd" />
                                                    <xs:element name="dscLograd" type="TS_dscLograd" />
                                                    <xs:element name="nrLograd" type="TS_nrLograd" />
                                                    <xs:element name="complemento" minOccurs="0" type="TS_complemento" />
                                                    <xs:element name="bairro" minOccurs="0" type="TS_bairro" />
                                                    <xs:element name="cep" minOccurs="0" type="TS_cep">
                                                        <xs:annotation>
                                                            <xs:documentation>Código de Endereçamento Postal - CEP.</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se {tpLocal}(./tpLocal) = [1, 3, 5]. Não preencher se {tpLocal}(./tpLocal) = [2].</xs:documentation>
                                                            <xs:documentation>Se preenchido, deve ser informado apenas com números, com 8 (oito) posições.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="codMunic" minOccurs="0" type="TS_codMunic">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com o código do município, conforme tabela do IBGE.</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se {tpLocal}(./tpLocal) = [1, 3, 4, 5]. Não preencher se {tpLocal}(./tpLocal) = [2].</xs:documentation>
                                                            <xs:documentation>Se informado, deve ser um código válido e existente na tabela do IBGE.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="uf" type="TS_uf" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com a sigla da Unidade da Federação - UF.</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se {tpLocal}(./tpLocal) = [1, 3, 4, 5]. Não preencher se {tpLocal}(./tpLocal) = [2].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="pais" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Preencher com o código do país.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código de país válido e existente na Tabela 06.</xs:documentation>
                                                                <xs:documentation>Preenchimento obrigatório se {tpLocal}(./tpLocal) = [2]. Não preencher nos demais casos.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:length value="3" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="codPostal" minOccurs="0" type="TS_codPostal">
                                                        <xs:annotation>
                                                            <xs:documentation>Código de Endereçamento Postal.</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se {tpLocal}(./tpLocal) = [2]. Não preencher nos demais casos.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ideLocalAcid" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Identificação do local onde ocorreu o acidente.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {ideEmpregador/tpInsc}(2210_ideEmpregador_tpInsc) = [1] e {tpLocal}(../tpLocal) = [1, 3]); OC (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpInsc" type="TS_tpInsc_1_3_4">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o código correspondente ao tipo de inscrição do local onde ocorreu o acidente ou a doença ocupacional, conforme Tabela 05.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="nrInsc" type="TS_nrInsc_12_14">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o número de inscrição do estabelecimento, de acordo com o tipo de inscrição indicado no campo {ideLocalAcid/tpInsc}(./tpInsc). Se o acidente ou a doença ocupacional ocorreu em local onde o trabalhador presta serviços, deve ser um número de inscrição pertencente à contratante dos serviços.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser compatível com o conteúdo do campo {ideLocalAcid/tpInsc}(./tpInsc). Deve ser um identificador válido, constante das bases da RFB, e:</xs:documentation>
                                                                        <xs:documentation>a) Se {tpLocal}(../tpLocal) = [1], deve ser válido e existente na Tabela de Estabelecimentos (S-1005);</xs:documentation>
                                                                        <xs:documentation>b) Se {tpLocal}(../tpLocal) = [3], deve ser diferente dos estabelecimentos informados na Tabela S-1005 e, se {ideLocalAcid/tpInsc}(./tpInsc) = [1], diferente do CNPJ base indicado em S-1000.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="parteAtingida">
                                            <xs:annotation>
                                                <xs:documentation>Parte do corpo atingida.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Detalhamento da parte atingida pelo acidente de trabalho.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="codParteAting">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Preencher com o código correspondente à parte atingida.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 13.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{9}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="lateralidade">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Lateralidade da(s) parte(s) atingida(s).</xs:documentation>
                                                                <xs:documentation>Nos casos de órgãos bilaterais, ou seja, que se situam dos lados do corpo, assinalar o lado (direito ou esquerdo). Ex.: Caso o órgão atingido seja perna, apontar qual foi a atingida (perna direita, perna esquerda ou ambas). Se o órgão atingido é único (como, por exemplo, a cabeça), assinalar este campo como não aplicável.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Não aplicável</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Esquerda</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Direita</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Ambas</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="agenteCausador">
                                            <xs:annotation>
                                                <xs:documentation>Agente causador.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Detalhamento do agente causador do acidente de trabalho.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="codAgntCausador">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Preencher com o código correspondente ao agente causador do acidente.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 14 ou na Tabela 15.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{9}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="atestado" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Atestado médico.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtAtendimento" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Data do atendimento.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser uma data válida, igual ou anterior à data atual.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="hrAtendimento" type="TS_hora">
                                                        <xs:annotation>
                                                            <xs:documentation>Hora do atendimento, no formato HHMM.</xs:documentation>
                                                            <xs:documentation>Validação: Deve estar no intervalo entre [0000] e [2359], criticando inclusive a segunda parte do número, que indica os minutos, que deve ser menor ou igual a 59.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="indInternacao" type="TS_sim_nao">
                                                        <xs:annotation>
                                                            <xs:documentation>Indicativo de internação.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="durTrat">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Duração estimada do tratamento, em dias.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{1,4}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="indAfast" type="TS_sim_nao">
                                                        <xs:annotation>
                                                            <xs:documentation>Indicativo de afastamento do trabalho durante o tratamento.</xs:documentation>
                                                            <xs:documentation>Validação: Se o campo {indCatObito}(../indCatObito) for igual a [S], o campo deve sempre ser preenchido com [N].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="dscLesao">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Preencher com a descrição da natureza da lesão.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 17.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{9}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="dscCompLesao" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Descrição complementar da lesão.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1" />
                                                                <xs:maxLength value="200" />
                                                                <xs:pattern value=".*[^\s].*" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="diagProvavel" minOccurs="0" type="TS_texto_100">
                                                        <xs:annotation>
                                                            <xs:documentation>Diagnóstico provável.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="codCID">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Informar o código da tabela de Classificação Internacional de Doenças - CID.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser preenchido com caracteres alfanuméricos, conforme opções constantes na tabela CID.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="3" />
                                                                <xs:maxLength value="4" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="observacao" minOccurs="0" type="TS_observacao" />
                                                    <xs:element name="emitente">
                                                        <xs:annotation>
                                                            <xs:documentation>Médico/Dentista que emitiu o atestado.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nmEmit" type="TS_nome">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Nome do médico/dentista que emitiu o atestado.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="ideOC">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Órgão de classe.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Conselho Regional de Medicina - CRM</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Conselho Regional de Odontologia - CRO</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Registro do Ministério da Saúde - RMS</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="nrOC">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Número de inscrição no órgão de classe.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1" />
                                                                            <xs:maxLength value="14" />
                                                                            <xs:pattern value=".*[^\s].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ufOC" type="TS_uf">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Sigla da UF do órgão de classe.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="catOrigem" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>CAT de origem</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Grupo que indica a CAT anterior, no caso de CAT de reabertura ou de comunicação de óbito.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {nrRecCatOrig}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se {tpCat}(../tpCat) for igual a [2, 3]); N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nrRecCatOrig" type="TS_nrRecibo">
                                                        <xs:annotation>
                                                            <xs:documentation>Informar o número do recibo da última CAT referente ao mesmo acidente/doença relacionada ao trabalho, nos casos:</xs:documentation>
                                                            <xs:documentation>a) de CAT de reabertura;</xs:documentation>
                                                            <xs:documentation>b) de óbito, quando houver CAT anterior.</xs:documentation>
                                                            <xs:documentation>Validação: Deve corresponder ao número do recibo do arquivo relativo à última CAT informada anteriormente, pertencente ao mesmo contrato, desde que {indCatObito}(../indCatObito) da última CAT informada seja igual a [N]. O sistema não efetuará a conferência da informação se {dtAcid}(../dtAcid) for anterior a {sucessaoVinc/dtTransf}(2200_vinculo_sucessaoVinc_dtTransf), {transfDom/dtTransf}(2200_vinculo_transfDom_dtTransf) ou {dtAltCPF}(2200_vinculo_mudancaCPF_dtAltCPF) do evento S-2200.</xs:documentation>
                                                            <xs:documentation>OBS.: Quando a data do acidente for anterior à data de obrigatoriedade do empregador ao envio deste evento, a CAT de reabertura e/ou de óbito não devem ser informadas ao eSocial, mantendo-se o procedimento realizado na emissão da CAT original.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>