ACBrMonitor/Schemas/eSocial/evtDeslig-v02_04_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtDeslig/v02_04_01" targetNamespace="http://www.esocial.gov.br/schema/evt/evtDeslig/v02_04_01" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtDeslig">
          <xs:annotation>
            <xs:documentation>Evento Desligamento</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideVinculo" type="TIdeVinculoNisObrig">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoDeslig">
                <xs:annotation>
                  <xs:documentation>Apresenta as informações relativas ao desligamento do vínculo identificado no registro superior.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mtvDeslig">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Código de Motivo do Desligamento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{2}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtDeslig">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data do Desligamento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indPagtoAPI">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de pagto de Aviso Prévio Indenizado</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="1"/>
                          <xs:pattern value="[N|S]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtProjFimAPI" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data projetada para o término do aviso</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="pensAlim">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de pensão</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                          <xs:pattern value="\d"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="percAliment" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Percentual alimentando</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="5"/>
                          <xs:fractionDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="vrAlim" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Valor da pensão alimentícia</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="14"/>
                          <xs:fractionDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrCertObito" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número da certidão de óbito</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{32}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrProcTrab" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Nr Processo Trabalhista</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indCumprParc">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Cumprimento parcial de aviso prévio</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                          <xs:pattern value="\d"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="observacao" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Observação</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:whiteSpace value="preserve"/>
                          <xs:minLength value="3"/>
                          <xs:maxLength value="255"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="sucessaoVinc" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro preenchido exclusivamente nos casos de sucessão do vínculo trabalhista, com a identificação da empresa sucessora.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjSucessora">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>CNPJ da empresa sucessora</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="14"/>
                                <xs:pattern value="\d{8,14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="transfTit" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Transferência de titularidade do empregado doméstico para outro representante da mesma unidade familiar</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cpfSubstituto">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d{11}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dtNascto">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data de Nascimento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="verbasResc" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro onde são prestadas as informações relativas às verbas devidas ao trabalhador na rescisão contratual.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dmDev" maxOccurs="50">
                            <xs:annotation>
                              <xs:documentation>Identificação de cada um dos demonstrativos de valores devidos ao trabalhador antes das retenções de pensão alimentícia e IRRF. (As retenções de pensão alimentícia e IRRF devem ser realizadas no ato do pagamento e, portanto, são informadas no evento S-1210).
Para as rubricas cujo {codIncCP} = [31, 32, 34, 35], o somatório do valor das rubricas cujo ({tpRubr} = [2,4]) deverá ser maior ou igual ao somatório do valor das rubricas cujo ({tpRubr} = [1,3]), considerando cada um dos códigos {codIncCP} individualmente.
O somatório dos Vencimentos deve ser maior ou igual ao somatório dos Descontos.
As informações dos campos {ideEstabLot/nrInsc}, {detVerbas/codRubr}, {ideEstabLot/codLotacao} vinculadas a este registro, devem constar nas respectivas tabelas S-1005, S-1010 e S-1020, no mês:
a) da data do desligamento, informada no campo {dtDeslig} se as informações pertencerem ao grupo {infoPerApur};
b) informado em {perRef} se as informações pertencerem ao grupo {infoPerAnt}.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ideDmDev">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Identificador do demonstrativo de pagamento</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoPerApur" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Verbas rescisórias relativas ao mês da data do desligamento</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ideEstabLot" maxOccurs="24">
                                        <xs:annotation>
                                          <xs:documentation>Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração. O estabelecimento identificado no registro pode ser: o número do CNPJ do estabelecimento da própria empresa (matriz/filial), o número da obra (própria) no CNO, ou o número do CAEPF (no caso de pessoa física obrigada a inscrição no cadastro de atividades específicas da pessoa física).  No caso específico do trabalhador doméstico, o estabelecimento deve ser o próprio CPF do empregador.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="tpInsc">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                  <xs:pattern value="\d"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="nrInsc">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Número de Inscrição</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{8,15}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="codLotacao">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Código da Lotação</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="30"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="detVerbas" maxOccurs="200">
                                              <xs:annotation>
                                                <xs:documentation>Detalhamento das verbas rescisórias devidas ao trabalhador. Deve haver, pelo menos uma rubrica de folha, mesmo que o valor líquido a ser pago ao trabalhador seja 0 (zero) em função de descontos.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="codRubr">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Código da Rubrica</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="30"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="ideTabRubr">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Identificador da tabela de rubricas</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="8"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="qtdRubr" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Qtde de referência para apuração da rubrica.</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:decimal">
                                                        <xs:totalDigits value="6"/>
                                                        <xs:fractionDigits value="2"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="fatorRubr" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Fator utilizado na apuração da rubrica</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:decimal">
                                                        <xs:totalDigits value="5"/>
                                                        <xs:fractionDigits value="2"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vrUnit" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Valor Unitário </xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:decimal">
                                                        <xs:totalDigits value="14"/>
                                                        <xs:fractionDigits value="2"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vrRubr">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Valor total da rubrica</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:decimal">
                                                        <xs:totalDigits value="14"/>
                                                        <xs:fractionDigits value="2"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="infoSaudeColet" type="TSaudeCol" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation>Informações de plano privado coletivo empresarial de assistência à saúde. Só preencher se houver {codRubr} em {itensRemun}, cuja natureza de rubrica {natRubr} indicada em S-1010 seja igual a [9219].
Não preencher nos demais casos.</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="infoAgNocivo" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation>Registro preenchido exclusivamente em relação a remuneração de trabalhador amparado pelo RGPS - Regime Geral de Previdência Social.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="grauExp">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Grau de exposição a agentes nocivos</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:byte">
                                                        <xs:pattern value="\d"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="infoSimples" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation>Informação relativa a empresas enquadradas no Regime de Tributação Simples</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="indSimples">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Indicador de Contribuição Substituída</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:byte">
                                                        <xs:pattern value="\d"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="infoPerAnt" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Remuneração relativa a Períodos Anteriores, devida em função de acordos coletivos, legislação específica, convenção coletiva de trabalho, dissídio ou Conversão de Licença Saúde em Acidente de Trabalho.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ideADC" maxOccurs="8">
                                        <xs:annotation>
                                          <xs:documentation>Identificação do Acordo coletivo, Legislação, Convenção Coletiva, Dissídio ou Conversão da licença saúde em acidente de trabalho.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="dtAcConv">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Data da assinatura do acordo/convenção</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:date">
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="tpAcConv">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Tipo do instrumento ou situação</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:length value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="compAcConv" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Competência</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="dtEfAcConv">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Data dos efeitos do acordo/convenção</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:date">
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="dsc">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Descrição</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:whiteSpace value="preserve"/>
                                                  <xs:minLength value="3"/>
                                                  <xs:maxLength value="255"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="idePeriodo" maxOccurs="180">
                                              <xs:annotation>
                                                <xs:documentation>Identificação do período ao qual se referem as diferenças de remuneração.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="perRef">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Período de referência</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="4"/>
                                                        <xs:maxLength value="7"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="ideEstabLot" maxOccurs="24">
                                                    <xs:annotation>
                                                      <xs:documentation>O registro identifica o estabelecimento e lotação ao qual se referem as diferenças de remuneração do mês identificado no registro superior.</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="tpInsc">
                                                          <xs:simpleType>
                                                            <xs:annotation>
                                                              <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                              <xs:pattern value="\d"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="nrInsc">
                                                          <xs:simpleType>
                                                            <xs:annotation>
                                                              <xs:documentation>Número de Inscrição</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                              <xs:pattern value="\d{8,15}"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="codLotacao">
                                                          <xs:simpleType>
                                                            <xs:annotation>
                                                              <xs:documentation>Código da Lotação</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="detVerbas" maxOccurs="200">
                                                          <xs:annotation>
                                                            <xs:documentation>Registro que relaciona as rubricas que compõem a remuneração do trabalhador.</xs:documentation>
                                                          </xs:annotation>
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="codRubr">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Código da Rubrica</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:string">
                                                                    <xs:minLength value="1"/>
                                                                    <xs:maxLength value="30"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="ideTabRubr">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Identificador da tabela de rubricas</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:string">
                                                                    <xs:minLength value="1"/>
                                                                    <xs:maxLength value="8"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="qtdRubr" minOccurs="0">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Qtde de referência para apuração da rubrica.</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:decimal">
                                                                    <xs:totalDigits value="6"/>
                                                                    <xs:fractionDigits value="2"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="fatorRubr" minOccurs="0">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Fator utilizado na apuração da rubrica</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:decimal">
                                                                    <xs:totalDigits value="5"/>
                                                                    <xs:fractionDigits value="2"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="vrUnit" minOccurs="0">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Valor Unitário </xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:decimal">
                                                                    <xs:totalDigits value="14"/>
                                                                    <xs:fractionDigits value="2"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="vrRubr">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Valor total da rubrica</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:decimal">
                                                                    <xs:totalDigits value="14"/>
                                                                    <xs:fractionDigits value="2"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="infoAgNocivo" minOccurs="0">
                                                          <xs:annotation>
                                                            <xs:documentation>Registro preenchido exclusivamente em relação a remuneração de trabalhador enquadrado em uma das categorias relativas a Empregado ou Agente Público, permitindo o detalhamento do grau de exposição do trabalhador aos agentes nocivos que ensejam a cobrança da contribuição adicional para financiamento dos benefícios de aposentadoria especial.</xs:documentation>
                                                          </xs:annotation>
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="grauExp">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Grau de exposição a agentes nocivos</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:byte">
                                                                    <xs:pattern value="\d"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="infoSimples" minOccurs="0">
                                                          <xs:annotation>
                                                            <xs:documentation>Informação relativa a empresas enquadradas no Regime de Tributação Simples</xs:documentation>
                                                          </xs:annotation>
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="indSimples">
                                                                <xs:simpleType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Indicador de Contribuição Substituída</xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:restriction base="xs:byte">
                                                                    <xs:pattern value="\d"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="infoTrabInterm" minOccurs="0" maxOccurs="99">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="codConv">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Código que identifica a convocação para trabalho intermitente</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="30"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="procJudTrab" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência de contribuição previdenciária e/ou Imposto de Renda</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpTrib">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Abrangência pela decisão</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrProcJud">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nr Processo Judicial</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codSusp">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="\d{1,14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="infoMV" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Registro preenchido exclusivamente em caso de trabalhador que possua outros vínculos/atividades nos quais já tenha ocorrido desconto de contribuição previdenciária.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indMV">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicador de MV</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="remunOutrEmpr" type="TRemunOutrasEmpresas" maxOccurs="10">
                                  <xs:annotation>
                                    <xs:documentation>Informações relativas ao trabalhador que possui vínculo empregatício com outra(s) empresa(s) e/ou que exerce outras atividades como contribuinte individual, detalhando as empresas que efetuaram (ou efetuarão) desconto da contribuição, ou ainda valores recolhidos pelo próprio trabalhador como contribuinte individual. As informações são necessárias para a conferência da contribuição descontada do segurado.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="quarentena" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações sobre a 'quarentena' remunerada de trabalhador desligado.  O registro deve ser preenchido apenas no caso do trabalhador que recebe remuneração após o desligamento por estar impossibilitado de exercer atividade remunerada.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtFimQuar">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data final da quarentena</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="consigFGTS">
                      <xs:annotation>
                        <xs:documentation>Informações sobre operação de crédito consignado com garantia de FGTS</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="idConsig">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Informar contrato de empréstimo consignado com garantia de FGTS</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[N|S]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="insConsig" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Matrícula da Instituição Consignatária, cadastrada na Caixa Econômica Federal</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="5"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrContr" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número do contrato de empréstimo consignado existente na Instituição Consignatária</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d{1,15}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação do evento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetif">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Recibo arquivo a ser retificado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de ambiente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeVinculoNisObrig">
    <xs:annotation>
      <xs:documentation>Informações do Vínculo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpfTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CPF do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nisTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>NIS</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="matricula">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Matricula</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSaudeCol">
    <xs:annotation>
      <xs:documentation>Planos de saúde coletivo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="detOper" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Detalhamento dos valores pagos a Operadoras de Planos de Saúde.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjOper">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ de Operadora do Plano de Saúde</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="14"/>
                  <xs:pattern value="\d{8,14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="regANS">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Registro da operadora na Agência Nacional de Saúde.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="6"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="vrPgTit">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Valor pago pelo Titular</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="14"/>
                  <xs:fractionDigits value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="detPlano" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation>Informações do dependente do plano privado de saúde.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpDep">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de dependente</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:length value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="cpfDep" minOccurs="0">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="\d{11}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nmDep">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Nome do Dependente</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="70"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="dtNascto">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Data de Nascimento</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:date">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="vlrPgDep">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Valor pago relativo ao dependente</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="14"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemunOutrasEmpresas">
    <xs:annotation>
      <xs:documentation>Registro que complementa as informações relativas ao trabalhador que possui vínculo empregatício com outra(s) empresa(s) e/ou que exerce outras atividades como contribuinte individual, detalhando as empresas que efetuaram (ou efetuarão) desconto da contribuição, ou ainda valores recolhidos pelo próprio trabalhador como contribuinte individual.   As informações prestadas são necessárias para a conferência da contribuição descontada do segurado. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCateg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Categoria</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
            <xs:pattern value="\d{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrRemunOE">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor da remuneração recebida pelo trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
