ACBrMonitor/Schemas/eSocial/evtTSVInicio-v_S_01_00_00.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtTSVInicio/v_S_01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtTSVInicio/v_S_01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2300 - Trabalhador Sem Vínculo de Emprego/Estatutário - Início</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtTSVInicio">
                    <xs:annotation>
                        <xs:documentation>Evento TSVE - Início</xs:documentation>
                        <xs:documentation>DESCRICAO_COMPLETA:Evento Trabalhador Sem Vínculo de Emprego/Estatutário - Início.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_COMPATIBILIDADE_CATEGORIA_CLASSTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_COMPATIB_CATEG_EVENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTO_IMPACTO_FOPAG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVETRAB_VALIDA_OPCAO_FGTS</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_MESMO_PROCEMI</xs:documentation>
                        <xs:documentation>REGRA:REGRA_MUDANCA_CPF</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REGISTRO_PRELIMINAR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_MESMO_VINCULO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TSV_VERIFICA_DUPLICIDADE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_MATRICULA</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_TRABALHADOR_BASE_CPF</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador" />
                            <xs:element name="trabalhador">
                                <xs:annotation>
                                    <xs:documentation>Grupo de informações do trabalhador.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfTrab}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfTrab" type="TS_cpfTrab" />
                                        <xs:element name="nmTrab" type="TS_nmTrab" />
                                        <xs:element name="sexo" type="TS_sexoTrab" />
                                        <xs:element name="racaCor" type="TS_racaCorTrab" />
                                        <xs:element name="estCiv" minOccurs="0" type="TS_estCivilTrab" />
                                        <xs:element name="grauInstr" type="TS_grauInstr" />
                                        <xs:element name="nmSoc" minOccurs="0" type="TS_nmSoc" />
                                        <xs:element name="nascimento" type="T_nascimento" />
                                        <xs:element name="endereco">
                                            <xs:annotation>
                                                <xs:documentation>Endereço do trabalhador</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Grupo de informações do endereço do trabalhador.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice>
                                                        <xs:element name="brasil" type="T_endereco_brasil" />
                                                        <xs:element name="exterior" type="T_endereco_exterior" />
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="trabImig" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações do trabalhador imigrante.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC (se {paisNac}(2300_trabalhador_nascimento_paisNac) for diferente de [105]); N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tmpResid" minOccurs="0" type="TS_tmpResid">
                                                        <xs:annotation>
                                                            <xs:documentation>Tempo de residência do trabalhador imigrante.</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se {dtInicio}(2300_infoTSVInicio_dtInicio) >= [2021-05-10].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="condIng" type="TS_condIng" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoDeficiencia" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Pessoa com deficiência.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="defFisica" type="TS_defFisica" />
                                                    <xs:element name="defVisual" type="TS_defVisual" />
                                                    <xs:element name="defAuditiva" type="TS_defAuditiva" />
                                                    <xs:element name="defMental" type="TS_defMental" />
                                                    <xs:element name="defIntelectual" type="TS_defIntelectual" />
                                                    <xs:element name="reabReadap" type="TS_reabReadap" />
                                                    <xs:element name="observacao" minOccurs="0" type="TS_observacao" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dependente" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Informações dos dependentes.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {tpDep}, {nmDep}, {dtNascto}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpDep" type="TS_tpDep" />
                                                    <xs:element name="nmDep" type="TS_nmDep" />
                                                    <xs:element name="dtNascto" type="TS_dtNascto" />
                                                    <xs:element name="cpfDep" minOccurs="0" type="TS_cpfDep" />
                                                    <xs:element name="depIRRF" type="TS_depIRRF" />
                                                    <xs:element name="depSF" type="TS_depSF" />
                                                    <xs:element name="incTrab" type="TS_incTrab" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="contato" minOccurs="0" type="T_contato">
                                            <xs:annotation>
                                                <xs:documentation>Informações de contato.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="infoTSVInicio">
                                <xs:annotation>
                                    <xs:documentation>TSVE - Início</xs:documentation>
                                    <xs:documentation>DESCRICAO_COMPLETA:Trabalhador Sem Vínculo de Emprego/Estatutário - TSVE - Início.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {matricula}, {codCateg}, {dtInicio}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cadIni">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Indicar se o evento se refere a cadastramento inicial (o ingresso do trabalhador no empregador declarante é anterior à data de início da obrigatoriedade de envio de seus eventos não periódicos) ou se refere a início de TSVE (o ingresso do trabalhador no empregador declarante é igual ou posterior à data de início da obrigatoriedade de envio de seus eventos não periódicos).</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="S">
                                                        <xs:annotation>
                                                            <xs:documentation>Sim (Cadastramento Inicial)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="N">
                                                        <xs:annotation>
                                                            <xs:documentation>Não (Início de TSVE)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="matricula" minOccurs="0" type="TS_codigo_esocial">
                                            <xs:annotation>
                                                <xs:documentation>Matrícula atribuída ao trabalhador pela empresa.</xs:documentation>
                                                <xs:documentation>Validação: Preenchimento obrigatório se {indRetif}(2300_ideEvento_indRetif) = [1]. No caso de retificação ({indRetif}(2300_ideEvento_indRetif) = [2]), a matrícula deve ser preenchida caso tenha sido informada no evento original.</xs:documentation>
                                                <xs:documentation>O valor informado não pode conter a expressão 'eSocial' nas 7 (sete) primeiras posições.</xs:documentation>
                                                <xs:documentation>REGRA:REGRA_CARACTERE_ESPECIAL</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="codCateg" type="TS_codCateg" />
                                        <xs:element name="dtInicio" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data de início, que pode ser:</xs:documentation>
                                                <xs:documentation>a) Para o cooperado, a data de ingresso na cooperativa;</xs:documentation>
                                                <xs:documentation>b) Para o diretor não empregado, a data de posse no cargo;</xs:documentation>
                                                <xs:documentation>c) Para o dirigente sindical, a data de início do mandato no sindicato;</xs:documentation>
                                                <xs:documentation>d) Para o estagiário, a data de início do estágio;</xs:documentation>
                                                <xs:documentation>e) Para o trabalhador avulso, a data de ingresso no Órgão Gestor de Mão de Obra - OGMO ou no sindicato;</xs:documentation>
                                                <xs:documentation>f) Para o servidor público exercente de cargo eletivo, a data de início do mandato;</xs:documentation>
                                                <xs:documentation>g) Para os demais trabalhadores, a data de início das atividades.</xs:documentation>
                                                <xs:documentation>Validação: Devem ser observadas as seguintes regras:</xs:documentation>
                                                <xs:documentation>a) Deve ser posterior à data de nascimento do trabalhador e não pode ser posterior a 30 (trinta) dias da data atual;</xs:documentation>
                                                <xs:documentation>b) Se {cadIni}(./cadIni) = [S], deve ser anterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador no eSocial;</xs:documentation>
                                                <xs:documentation>c) Se {cadIni}(./cadIni) = [N], deve ser igual ou posterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador no eSocial.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="nrProcTrab" minOccurs="0" type="TS_nrProcJud">
                                            <xs:annotation>
                                                <xs:documentation>Número que identifica o processo trabalhista, quando o início de TSVE se der por decisão judicial.</xs:documentation>
                                                <xs:documentation>Validação: Se preenchido, deve ser um processo judicial válido, com 20 (vinte) algarismos.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="natAtividade" minOccurs="0" type="TS_natAtividade">
                                            <xs:annotation>
                                                <xs:documentation>Natureza da atividade.</xs:documentation>
                                                <xs:documentation>Validação: Preenchimento obrigatório se {codCateg}(./codCateg) = [201, 202, 401, 731, 734, 738]. Não deve ser preenchido se {codCateg}(./codCateg) = [721, 722, 771, 901].</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="infoComplementares" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações complementares</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Grupo onde são fornecidas informações complementares, preenchidas conforme a categoria do TSVE.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (de acordo com a condição dos grupos inferiores); OC (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cargoFuncao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Cargo/Função ocupado pelo TSVE</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA:Grupo que apresenta o cargo e/ou função ocupada pelo TSVE.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC (se {codCateg}(2300_infoTSVInicio_codCateg) = [901, 903, 904]); O (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nmCargo" minOccurs="0" type="TS_texto_100">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o nome do cargo.</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório se {codCateg}(2300_infoTSVInicio_codCateg) for diferente de [410].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="CBOCargo" minOccurs="0" type="TS_CBOCargo" />
                                                                <xs:element name="nmFuncao" minOccurs="0" type="TS_texto_100">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o nome da função de confiança.</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório se {codCateg}(2300_infoTSVInicio_codCateg) = [410] e não houver informação de {nmCargo}(./nmCargo).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="CBOFuncao" minOccurs="0" type="TS_CBOFuncao" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="remuneracao" minOccurs="0" type="T_remuneracao">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações da remuneração e periodicidade de pagamento.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codCateg}(2300_infoTSVInicio_codCateg) = [721, 722, 771]); OC (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FGTS" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações do FGTS</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA:Informações do Fundo de Garantia do Tempo de Serviço - FGTS.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codCateg}(2300_infoTSVInicio_codCateg) = [721]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="dtOpcFGTS" type="TS_dtOpcFGTS" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoDirigenteSindical" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações relativas ao dirigente sindical.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codCateg}(2300_infoTSVInicio_codCateg) = [401]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="categOrig" type="TS_codCateg">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o código correspondente à categoria de origem do dirigente sindical.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 01, diferente de [401].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="tpInsc" minOccurs="0" type="TS_tpInsc_1_2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05.</xs:documentation>
                                                                        <xs:documentation>Validação: O preenchimento é obrigatório e exclusivo se {infoDirigenteSindical/categOrig}(./categOrig) corresponder a "Empregado", "Agente Público", "Avulso" ou for igual a [721].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="nrInsc" minOccurs="0" type="TS_nrInsc_11_14">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o número de inscrição do empregador de origem do dirigente sindical, de acordo com o tipo de inscrição indicado no campo {infoDirigenteSindical/tpInsc}(./tpInsc).</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório e exclusivo se {infoDirigenteSindical/tpInsc}(./tpInsc) for informado. Se preenchido, deve ser um número de inscrição válido e diferente da inscrição do declarante, considerando as particularidades aplicadas à informação de CNPJ de órgão público em S-1000.</xs:documentation>
                                                                        <xs:documentation>Se {infoDirigenteSindical/tpInsc}(./tpInsc) = [1], deve possuir 14 (catorze) algarismos e ser diferente do CNPJ base do empregador e dos estabelecimentos informados através do evento S-1005.</xs:documentation>
                                                                        <xs:documentation>Se {infoDirigenteSindical/tpInsc}(./tpInsc) = [2], deve possuir 11 (onze) algarismos.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dtAdmOrig" minOccurs="0" type="xs:date">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com a data de admissão (ou de início) do dirigente sindical na empresa de origem.</xs:documentation>
                                                                        <xs:documentation>Validação: O preenchimento é obrigatório se {infoDirigenteSindical/categOrig}(./categOrig) corresponder a "Empregado", "Agente Público", "Avulso" ou for igual a [721].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="matricOrig" minOccurs="0" type="TS_codigo_esocial">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com a matrícula do trabalhador na empresa de origem.</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório se {infoDirigenteSindical/categOrig}(./categOrig) corresponder a "Empregado" ou "Agente Público".</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="tpRegTrab" minOccurs="0" type="TS_tpRegTrab">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de regime trabalhista.</xs:documentation>
                                                                        <xs:documentation>Validação: O preenchimento é obrigatório e exclusivo se {infoDirigenteSindical/categOrig}(./categOrig) corresponder a "Empregado" ou "Agente Público".</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="tpRegPrev" type="TS_tpRegPrev">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de regime previdenciário (ou Sistema de Proteção Social dos Militares).</xs:documentation>
                                                                        <xs:documentation>Validação: Se {infoDirigenteSindical/categOrig}(./categOrig) for relativa a "Empregado", não pode ser preenchido com [2].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoTrabCedido" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações relativas ao trabalhador cedido/em exercício em outro órgão</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA:Informações relativas ao trabalhador cedido/em exercício em outro órgão, preenchidas exclusivamente pelo cessionário/órgão de destino.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codCateg}(2300_infoTSVInicio_codCateg) = [410]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="categOrig" type="TS_codCateg">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o código correspondente à categoria de origem do trabalhador cedido.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 01, diferente de [410].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="cnpjCednt" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o CNPJ do empregador/órgão público cedente/de origem.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ diferente do CNPJ do empregador/órgão público e diferente dos estabelecimentos informados através do evento S-1005.</xs:documentation>
                                                                        <xs:documentation>REGRA:REGRA_VALIDA_CNPJ</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="matricCed" type="TS_codigo_esocial">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com a matrícula do trabalhador no empregador/órgão público cedente/de origem.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dtAdmCed">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Preencher com a data de admissão (ou de exercício) do trabalhador no empregador/órgão público cedente/de origem.</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser uma data anterior a {dtInicio}(2300_infoTSVInicio_dtInicio) e igual ou posterior a 01/01/1890.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:date">
                                                                            <xs:minInclusive value="1890-01-01" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="tpRegTrab" type="TS_tpRegTrab">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de regime trabalhista.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="tpRegPrev" type="TS_tpRegPrev">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de regime previdenciário (ou Sistema de Proteção Social dos Militares).</xs:documentation>
                                                                        <xs:documentation>Validação: Se {infoTrabCedido/categOrig}(./categOrig) for relativa a "Empregado", não pode ser preenchido com [2].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoMandElet" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações relativas a servidor público exercente de mandato eletivo.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codCateg}(2300_infoTSVInicio_codCateg) = [304]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="indRemunCargo" minOccurs="0" type="TS_indRemunCargo" />
                                                                <xs:element name="tpRegTrab" type="TS_tpRegTrab">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de regime trabalhista.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="tpRegPrev" type="TS_tpRegPrev">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de regime previdenciário (ou Sistema de Proteção Social dos Militares).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoEstagiario" minOccurs="0" type="T_infoEstagiario">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações relativas ao estagiário.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {codCateg}(2300_infoTSVInicio_codCateg) = [901]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="mudancaCPF" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações de mudança de CPF do trabalhador.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: N (se {cadIni}(2300_infoTSVInicio_cadIni) = [S]); OC (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cpfAnt" type="TS_cpf">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com o número do CPF antigo do trabalhador.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="matricAnt" minOccurs="0" type="TS_codigo_esocial">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com a matrícula anterior do trabalhador.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="dtAltCPF" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Data de alteração do CPF.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="observacao" minOccurs="0" type="TS_observacao" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="afastamento" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações de afastamento do TSVE</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informações de afastamento do TSVE.</xs:documentation>
                                                <xs:documentation>Preenchimento exclusivo em caso de trabalhador que permaneça afastado na data de início da obrigatoriedade dos eventos não periódicos para o empregador no eSocial ou na data de alteração do CPF.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: N (se grupo {termino}(2300_infoTSVInicio_termino) estiver preenchido); OC (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtIniAfast" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Data de início do afastamento.</xs:documentation>
                                                            <xs:documentation>Validação: Devem ser observadas as seguintes regras:</xs:documentation>
                                                            <xs:documentation>a) Deve ser igual ou posterior à data de início do TSVE;</xs:documentation>
                                                            <xs:documentation>b) Se {cadIni}(2300_infoTSVInicio_cadIni) = [S], deve ser anterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador;</xs:documentation>
                                                            <xs:documentation>c) Se {cadIni}(2300_infoTSVInicio_cadIni) = [N], deve ser anterior à data de alteração do CPF do trabalhador ({dtAltCPF}(2300_infoTSVInicio_mudancaCPF_dtAltCPF)).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="codMotAfast" type="TS_codMotAfast">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com o código do motivo de afastamento temporário.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 18, bem como compatível com o código de categoria do trabalhador, conforme Tabela 18.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="termino" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informação do término do TSVE</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informação do término do TSVE.</xs:documentation>
                                                <xs:documentation>Grupo preenchido exclusivamente caso seja necessário enviar cadastramento inicial referente a trabalhador com data de término anterior ao início dos eventos não periódicos para o empregador no eSocial (por exemplo, envio para pagamento de retiradas em meses posteriores à data de término e sob vigência dos eventos periódicos para o empregador no eSocial).</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: N (se {cadIni}(2300_infoTSVInicio_cadIni) = [N] ou grupo {afastamento}(2300_infoTSVInicio_afastamento) estiver preenchido); OC (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtTerm" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com a data do término.</xs:documentation>
                                                            <xs:documentation>Validação: Devem ser observadas as seguintes regras:</xs:documentation>
                                                            <xs:documentation>a) Deve ser igual ou posterior à data de início do TSVE;</xs:documentation>
                                                            <xs:documentation>b) Deve ser anterior à data de início da obrigatoriedade dos eventos não periódicos para o empregador.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>