ACBrMonitor/Schemas/eSocial/evtTSVTermino-v02_04_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtTSVTermino/v02_04_01" targetNamespace="http://www.esocial.gov.br/schema/evt/evtTSVTermino/v02_04_01" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTSVTermino">
          <xs:annotation>
            <xs:documentation>Evento Trabalhador Sem Vínculo de Emprego/Estatutário - Término</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideTrabSemVinculo">
                <xs:annotation>
                  <xs:documentation>Identificação do Trabalhador Sem Vínculo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cpfTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>CPF do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="11"/>
                          <xs:pattern value="\d{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nisTrab" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>NIS</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="11"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="codCateg">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Código da Categoria</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="\d{3}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoTSVTermino">
                <xs:annotation>
                  <xs:documentation>Trabalhador Sem Vínculo de Emprego - Término</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dtTerm">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data do Término</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="mtvDesligTSV" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Motivo deslig TSV</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{2}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verbasResc" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro onde são prestadas as informações relativas às verbas rescisórias do trabalhador, se houver.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dmDev" maxOccurs="50">
                            <xs:annotation>
                              <xs:documentation>Identificação de cada um dos demonstrativos de valores devidos ao trabalhador antes das retenções de pensão alimentícia e IRRF. (As retenções de pensão alimentícia e IRRF devem ser realizadas no ato do pagamento e, portanto, são informadas no evento S-1210).
Para as rubricas cujo {codIncCP} = [31, 32, 34, 35], o somatório do valor das rubricas cujo ({tpRubr} = [2,4]) deverá ser maior ou igual ao somatório do valor das rubricas cujo ({tpRubr} = [1,3]), considerando cada um dos códigos {codIncCP} individualmente.
O somatório dos Vencimentos deve ser maior ou igual ao somatório dos Descontos.
As informações dos campos {ideEstabLot/nrInsc}, {detVerbas/codRubr}, {ideEstabLot/codLotacao} vinculadas a este registro, devem constar nas respectivas tabelas S-1005, S-1010 e S-1020, no mês da data do desligamento informada no campo {dtTerm}.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ideDmDev">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Identificador do demonstrativo de pagamento</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ideEstabLot" maxOccurs="99">
                                  <xs:annotation>
                                    <xs:documentation>Identificação do Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração. O estabelecimento identificado no registro pode ser: o número do CNPJ do estabelecimento da própria empresa (matriz/filial), o número da obra (própria) no CNO, ou o número do CAEPF (no caso de pessoa física obrigada a inscrição no cadastro de atividades específicas da pessoa física). No caso específico do trabalhador doméstico, o estabelecimento deve ser o próprio CPF do empregador.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpInsc">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                            <xs:pattern value="\d"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrInsc">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número de Inscrição</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{8,15}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="codLotacao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Código da Lotação</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="30"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="detVerbas" maxOccurs="200">
                                        <xs:annotation>
                                          <xs:documentation>Registro onde são prestadas as informações relativas às verbas rescisórias do trabalhador, se houver.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="codRubr">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Código da Rubrica</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="30"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="ideTabRubr">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Identificador da tabela de rubricas</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="8"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="qtdRubr" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Qtde de referência para apuração da rubrica.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="6"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="fatorRubr" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Fator utilizado na apuração da rubrica</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="5"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrUnit" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor Unitário </xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrRubr">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor total da rubrica</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="infoSaudeColet" type="TSaudeCol" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Informações de plano privado coletivo empresarial de assistência à saúde. Só preencher se houver {codRubr} em {itensRemun}, cuja natureza de rubrica {natRubr} indicada em S-1010 seja igual a [9219].
Não preencher nos demais casos.</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="infoAgNocivo" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Registro preenchido exclusivamente em relação a remuneração de trabalhador de categoria Avulso e Cooperado filiado a cooperativa de produção ou Cooperado filiado a cooperativa de trabalho que presta serviço a empresa, permitindo o detalhamento do grau de exposição do trabalhador aos agentes nocivos que ensejam a cobrança da contribuição adicional para financiamento dos benefícios de aposentadoria especial.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="grauExp">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Grau de exposição a agentes nocivos</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                  <xs:pattern value="\d"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="infoSimples" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Informação relativa a empresas enquadradas no Regime de Tributação Simples</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="indSimples">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Indicador de Contribuição Substituída</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                  <xs:pattern value="\d"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="procJudTrab" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência de contribuição previdenciária e/ou Imposto de Renda</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpTrib">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Abrangência pela decisão</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrProcJud">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nr Processo Judicial</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codSusp">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="\d{1,14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="infoMV" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Registro preenchido exclusivamente em caso de trabalhador que possua outros vínculos/atividades nos quais já tenha ocorrido desconto de contribuição previdenciária.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indMV">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicador de MV</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="remunOutrEmpr" type="TRemunOutrasEmpresas" maxOccurs="10">
                                  <xs:annotation>
                                    <xs:documentation>Informações relativas ao trabalhador que possui vínculo empregatício com outra(s) empresa(s) e/ou que exerce outras atividades como contribuinte individual, detalhando as empresas que efetuaram (ou efetuarão) desconto da contribuição, ou ainda valores recolhidos pelo próprio trabalhador como contribuinte individual. As informações são necessárias para a conferência da contribuição descontada do segurado.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="quarentena" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações sobre a 'quarentena' remunerada de trabalhador desligado.  O registro deve ser preenchido apenas no caso do trabalhador que recebe remuneração após o desligamento por estar impossibilitado de exercer atividade remunerada.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtFimQuar">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data final da quarentena</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação do evento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetif">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Recibo arquivo a ser retificado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de ambiente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSaudeCol">
    <xs:annotation>
      <xs:documentation>Planos de saúde coletivo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="detOper" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Detalhamento dos valores pagos a Operadoras de Planos de Saúde.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjOper">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ de Operadora do Plano de Saúde</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="14"/>
                  <xs:pattern value="\d{8,14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="regANS">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Registro da operadora na Agência Nacional de Saúde.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="6"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="vrPgTit">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Valor pago pelo Titular</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="14"/>
                  <xs:fractionDigits value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="detPlano" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation>Informações do dependente do plano privado de saúde.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpDep">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de dependente</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:length value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="cpfDep" minOccurs="0">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="\d{11}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nmDep">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Nome do Dependente</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="70"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="dtNascto">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Data de Nascimento</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:date">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="vlrPgDep">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Valor pago relativo ao dependente</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="14"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemunOutrasEmpresas">
    <xs:annotation>
      <xs:documentation>Registro que complementa as informações relativas ao trabalhador que possui vínculo empregatício com outra(s) empresa(s) e/ou que exerce outras atividades como contribuinte individual, detalhando as empresas que efetuaram (ou efetuarão) desconto da contribuição, ou ainda valores recolhidos pelo próprio trabalhador como contribuinte individual.   As informações prestadas são necessárias para a conferência da contribuição descontada do segurado. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{8,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCateg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Categoria</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
            <xs:pattern value="\d{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrRemunOE">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor da remuneração recebida pelo trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
